#include "charybdis.dtsi"
#include "split_input_common.dtsi"

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zephyr,display = &st7789;
    };

    /* Forces the dongle to act as a receiver rather than reading physical switches */
    mock_kscan: kscan_1 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

    /* Tells the OS to create a virtual trackball software device on the dongle */
    vtrackball: virtual_input_trackball {
        compatible = "zmk,virtual-input";
        status = "okay";
    };

    /* Maps wireless incoming trackball coordinates into that virtual device */
    input_relay_config_trackball {
        compatible = "zmk,split-peripheral-input-relay";
        device = <&vtrackball>;
        relay-channel = <111>;
    };
};
